<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName" #localServerName>
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent" #localServerContent>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(localServerName)" style="margin-right: 5px;">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(localServerContent)" style="margin-left: 5px;">Add Server Blueprint</button>
    </div>
  </div>